<mat-progress-bar *ngIf="_loadS.State.Show" mode="indeterminate"></mat-progress-bar>
<header>
    <mat-toolbar>
        
        <span class="header-text" (click)="clickMain()"><mat-icon>important_devices</mat-icon> Cinema Tickets</span>
        <div class="controls">
           
            
            <button mat-button (click)="clickMyOrders()"  *ngIf="_as.currentUserValue && _as.currentUserValue.role == role.User">My Orders</button>
            <button mat-icon-button (click)="clickSettings()" *ngIf="_as.currentUserValue && _as.currentUserValue.role == role.Admin">
                <mat-icon>settings</mat-icon>
            </button>
            <button mat-icon-button (click)="clickHome()">
                <mat-icon>home</mat-icon>
            </button>
            <div class="cut"></div>
            <button mat-button (click)="clickLogOut()" *ngIf="_as.currentUserValue">Log Out</button>
            <button mat-button (click)="clickLogIn()" *ngIf="!_as.currentUserValue">Log In</button>
        </div>
    </mat-toolbar>
</header>