<div class="table-controls" *ngIf="!isOpenEditBlock">
    <button mat-button color="primary" [disabled]="selection?.selected?.length && selection.selected.length != 1" (click)="initData(selection.selected[0].id)">Edit</button>
    <button mat-button color="warn" [disabled]="selection?.selected?.length && selection.selected.length != 1" (click)="onDeleteClick(selection.selected[0].id)">Delete</button> 
    <button mat-button color="primary" (click)="initData(0)">Add</button>
</div>
<div class="table-container">
<table mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       class="mat-elevation-z8" *ngIf="!isOpenEditBlock">

       <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>
 

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> date </th>
    <td mat-cell *matCellDef="let element"> {{element.date | date:'shortDate'}} </td>
  </ng-container>

  <ng-container matColumnDef="roomNumber">
    <th mat-header-cell *matHeaderCellDef> room number </th>
    <td mat-cell *matCellDef="let element"> {{element.roomNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="ordersCount">
    <th mat-header-cell *matHeaderCellDef> orders count </th>
    <td mat-cell *matCellDef="let element"><button *ngIf="element.ordersCount > 0" (click)="viewOrders(selection.selected[0].id)" mat-raised-button color="accent">View [{{element.ordersCount}}]</button> </td>
  </ng-container>

  <ng-container matColumnDef="seatsCount">
    <th mat-header-cell *matHeaderCellDef> seats count </th>
    <td mat-cell *matCellDef="let element"> {{element.seatsCount}} </td>
  </ng-container>

  



 

   
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="selection.toggle(row)">
  </tr>
</table>
</div>

<div  *ngIf="isOpenEditBlock">
    <form [formGroup]="vtForm" (ngSubmit)="submit()">
        <div class="f-body">
            <div class="f-body-t">
                <div>
                    <mat-form-field color="accent" appearance="outline" style="width:100%">
                        <mat-label>Date</mat-label>
                        <input matInput [min]="minDate" [matDatepicker]="picker2" [formControl]="dateControl" required>
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2 color="primary"></mat-datepicker>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline" style="width:100%" >
                        <mat-label>Room</mat-label>
                        <mat-select [formControl]="roomControl"  required="trued">
                          <mat-option [value]="room.id"  *ngFor="let room of Rooms | async">{{room.number}} | seats: {{room.seatsCount}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
            </div>
            <div class="f-body-r">
                <button mat-stroked-button (click)="isOpenEditBlock = false" type="button" >cancel</button>
                <button mat-stroked-button type="submit" >save</button>
            </div>
        </div>
    </form>
</div>

