<div class="film-view-body">
    <div class="film-data">
        <div class="poster">
            <img [src]="film && film.posterUrl">
        </div>
        <div class="text-info">
            <div class="film-name"> {{film && film.name}}</div>
            <div class="film-description"> {{film && film.description}}</div>
            <div>
                
            </div>
        </div>
    </div>
    <div class="viewing-times">
        <div class="header">
            <div>Schedule</div> 
            <div class="header-count">Session count: {{film?.viewingTimes?.length || 0}}</div> 
        </div>
        <div class="calendar-box" *ngIf="!showMoreInfo">
            <div *ngIf="film && film.viewingTimes && film.viewingTimes.length > 0" #timesGrid>
                <div class="calendar-card table-container" (click)="selectView(vt.id)" *ngFor="let vt of film.viewingTimes">
                    <div class="row">
                        {{vt.date | date : 'fullDate'}}
                    </div>
                </div>
            </div>

            <div class="not-have" *ngIf="isNotHaveAnyShow">
                <h1>Not Have Any Sessions</h1>
            </div>
        </div>
        <div *ngIf="showMoreInfo" class="view-info">
            <div class="view-info-body">
                <div>
                    <div class="seats-count">Date: {{selectedView.date | date}}</div>
                    <div class="seats-count">Room: {{ selectedView.roomNumber }}</div>
                    <div class="seats-count"><mat-icon>airline_seat_recline_extra</mat-icon>{{ selectedView.seatsCount - selectedView.ordersCount }}</div>
                </div>
                <div>
                    <button style="width:100%" mat-raised-button color="warn" (click)="backClick()"><mat-icon>close</mat-icon> Cancel</button>
                    <button mat-raised-button (click)="madeOrder()" [disabled]="disabledOrderBtn" color="accent">Order ticket</button>
                </div>
            </div>
        </div>
    </div>

</div>