.login-form {
    width: 100%;
    display: flex;
    justify-content: center;

    .card {
        display: flex;
        margin: 60px;
        width: 33%;
        flex-direction: column;
    }

    .log-btns {
        display: flex;
        justify-content: flex-end;

        button {
            margin-left: 10px;
        }
    }
}